<html>
  <head>
    {% if title %}
    <title> {{title}} - Decision WebApp </title>
    {% else %}
    <title>Welcome to the decision WebApp</title>
    {% endif %}
  </head>

  <body>
    <div>
      Microblog:
      <a href="{{ url_for('index') }}"> Home </a>
      <a href="{{ url_for('fractiles') }}"> Fractiles </a>
      <a href="{{ url_for('gamblelike') }}"> Gamblelike </a>
      <a href="{{ url_for('probawheel') }}"> Probability Wheel </a>
      <a href="{{ url_for('login') }}"> Login </a>

    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li> {{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {%endblock %}

  </body>
</html>
